@tailwind base;
@tailwind components;
@tailwind utilities;

.customSlider-track.customSlider-track-0 {
  background: #CA8A04;
}

.slider-wrapper {
  width: 500px !important;
  height: 500px !important;
}

canvas {
  margin-left: 0;
  position: relative;
  z-index: 0;
}

@media(min-width: 768px) {
  canvas {
    margin-left: -150px;
  }
}

html {
  scroll-behavior: smooth;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}